.top_companies_area {
  background: #f5f7fa;
  padding-bottom: 70px;
  @media #{$mobile_device} {
    margin-bottom: 40px;
  }
  .brouse_job {
    @media #{$mobile_device} {
      text-align: left !important;
      margin-top: 15px;
      a {
      }
    }
  }
  .single_company {
    background: #fff;
    padding: 25px;
    @include border-radius(5px);
    margin-bottom: 30px;
    .thumb {
      width: 82px;
      height: 82px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 15px;
      background: #f5f7fa;
      margin-right: 25px;
      border: 1px solid #f0f0f0;
    }
    h3 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 18px;
      margin-top: 20px;
    }
    p {
      font-size: 16px;
      color: #aab1b7;
      margin-bottom: 0;
      font-weight: 400;
      span {
        background: #e6f3ff;
        color: #0a8cff;
        font-size: 16px;
        font-weight: 400;
        padding: 6px 17px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-right: 10px;
      }
    }
  }
}
