.popular_catagory_area {
  background: #f5f7fa;
  padding: 100px 0;
  .single_catagory {
    background: #ffffff;
    @include border-radius(5px);
    padding: 38px 25px;
    border: 1px solid transparent;
    @include transition(0.3s);
    margin-bottom: 30px;
    a {
      h4 {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 15px;
        @include transition(0.3s);
      }
    }
    p {
      font-size: 16px;
      color: #aab1b7;
      margin-bottom: 0;
      font-weight: 400;
      span {
        background: #e6f3ff;
        color: #0a8cff;
        font-size: 16px;
        font-weight: 400;
        padding: 6px 17px;
        @include border-radius(5px);
        margin-right: 10px;
      }
    }
    &:hover {
      h4 {
        color: $lightblue_color;
        text-decoration: underline;
      }
      border-color: $lightblue_color;
    }
  }
}
