
mixin showdown()
  script.
    setTimeout(function(){
        var converter = new showdown.Converter()
        let markDown = `!{sectionOneText}`;
        let htmlInject = converter.makeHtml(markDown);
        $("#sectionOneText").append(htmlInject);
    }, 100)

    
