
include ./layout.pug
include ./mixins.pug


+header("See3D - About", "About")

// about_start
.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 About Our Project
    .row
      .col-lg-10
        p.fix-font-20
          | See3D is a tax-exempt, non-profit 501(c)(3) organization that began in 2017 as a way to provide 3D printing project ideas for people who were enthusiastic about printing, but were unsure what to create. We created an online system to organize requests and connect with volunteers to print models.
      .w-100
      .col-lg-10
        p.fix-font-20
          | People have requested models so they can better understand objects that are often observed visually or have been difficult to create in an accessible tactile form. Common model requests include maps, buildings, snowflakes, molecules, animals, and automobiles. 3D printing does not just benefit those who are blind, it benefits everyone because handling a tactile model opens opportunities to discover something new that may not have been as noticeable in a picture or verbal description.
      .w-100
      .col-lg-10
        p.fix-font-20 Our mission is to:
      .w-100
      .col-lg-10
        ul.unordered-list
          li
            | Connect people who are blind and sighted through 3D printing, so all can gain new perspectives
          li
            | Organize the printing and distribution of 3D printed models for educational purposes for people who are blind
          li
            | Spread awareness of the importance of accessible materials, and independent living skills
      .w-100
      .col-lg-10
        p.fix-font-20
          br
          | Hear about the inspiration for See3D from our founder and CEO, Caroline Karbowski in her 
          a.text-link(href='https://www.youtube.com/watch?v=uf_Qw8mcMh0') TEDx Talk. 
      .col-lg-10
        p.fix-font-20
          | For a more in-depth look at our organization, read this 
          a.text-link(href='https://scholarworks.rit.edu/jsesd/vol23/iss1/6/') journal article.
      .col-lg-10
        p.fix-font-20 
          | Check out our 
          a.text-link(href='/index.html#news') articles and news.
      .col-lg-10
        p.fix-font-20 
          | To stay updated with what we are doing, join our 
          a.text-link(href='https://docs.google.com/forms/d/e/1FAIpQLSdII32MwHKMRojaJ5_U8DUQTai1ykE1erx8-maZvYW5Y9jjEg/viewform') E-Mail list.
      .col-lg-10
        p.fix-font-20 
          | Our organization's tax forms are available for public inspection as per IRS requirements. Please send us your name, email or street address and we will send you a copy. 
    .row.justify-content-end
      .button-offset.d-lg-block
        a.boxed-btn3.bg-fix(href='index.html') Go Back

+footer()