
include ./layout.pug
include ./mixins.pug


+header("See3D - About", "About")

// about_start
.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 About Our Project
    .row
      .col-lg-10
        p.fix-font-20
          | See3D is a tax-exempt, non-profit 501(c)(3) organization that began in 2017 as a way to provide 3D printing project ideas for people who were enthusiastic about printing, but were unsure what to create. We created an online system to organize requests and connect with volunteers to print models.
      .w-100
      .col-lg-10
        p.fix-font-20
          | People have requested models so they can better understand objects that are often observed visually or have been difficult to create in an accessible tactile form. Common model requests include maps, buildings, snowflakes, molecules, animals, and automobiles. 3D printing does not just benefit those who are blind, it benefits everyone because handling a tactile model opens opportunities to discover something new that may not have been as noticeable in a picture or verbal description.
      .w-100
      .col-lg-10
        p.fix-font-20 Our mission is to:
      .w-100
      .col-lg-10
        ul.unordered-list
          li
            | Connect people who are blind and sighted through 3D printing, so all can gain new perspectives. 
            |Presently, we have sent over 2082  models to 17 countries as well as 33 states in the U.S. 
          li
            | Organize the printing and distribution of 3D printed models for educational purposes for people who are blind
            |We have developed, and are constantly improving, systems for communication between request senders and volunteers. Currently, we achieve this through a form connected to our web site and our Slack channels. 
          li
            | Spread awareness of the importance of accessible materials, and independent living skills 
            | By spreading awareness, we hope to narrow the unemployment gap experienced by blind people worldwide. 
      .w-100
      .col-lg-10
        p.fix-font-20
          br
          | Hear about the inspiration for See3D from our founder and CEO, Caroline Karbowski in her 
          a.text-link(href='https://www.youtube.com/watch?v=uf_Qw8mcMh0') TEDx Talk. 
      .col-lg-10
        p.fix-font-20
          | For a more in-depth look at our organization, read this 
          a.text-link(href='https://scholarworks.rit.edu/jsesd/vol23/iss1/6/') journal article.
      .col-lg-10
        p.fix-font-20 
          | Check out our 
          a.text-link(href='/index.html#news') articles and news.
      .col-lg-10
        p.fix-font-20 
          | To stay updated with what we are doing, join our 
          a.text-link(href='https://docs.google.com/forms/d/e/1FAIpQLSdII32MwHKMRojaJ5_U8DUQTai1ykE1erx8-maZvYW5Y9jjEg/viewform') E-Mail list.
      .col-lg-10
        p.fix-font-20 
          | Our organization's tax forms are available for public inspection as per IRS requirements. Please send us your name, email or street address and we will send you a copy. 
    
    .progress-table-wrap
      .progress-table
        .table-head 
          .country Countries
          .country 
          .country
          
        .table-row
          .country
            img(src="img/elements/f2.jpg", alt="flag")
            | USA
          .country
            img(src="img/elements/f1.jpg", alt="flag")
            | Canada
          .country
            img(src="https://flagcdn.com/w40/kg.png" width = 49.985 height = 29.985, alt="flag")
            | Bishkek 

        .table-row
          .country
            img(src="https://flagcdn.com/w40/kg.png" width = 49.985 height = 29.985, alt="flag")
            | Kyrgzstan
          .country
            img(src="https://flagcdn.com/w40/ni.png" width = 49.985 height = 29.985, alt="flag")
            | Nicaragua
          .country
            img(src="https://flagcdn.com/w40/gy.png" width = 49.985 height = 29.985, alt="flag")
            | Guyana

        .table-row
          .country
            img(src="https://flagcdn.com/w40/in.png" width = 49.985 height = 29.985, alt="flag")
            | India
          .country
            img(src="img/elements/f3.jpg", alt="flag")
            | Australia
          .country
            img(src="https://flagcdn.com/w40/mw.png" width = 49.985 height = 29.985, alt="flag")
            | Malawi

        .table-row
          .country
            img(src="https://flagcdn.com/w40/ng.png" width = 49.985 height = 29.985, alt="flag")
            | Nigeria
          .country
            img(src="https://flagcdn.com/w40/ke.png" width = 49.985 height = 29.985, alt="flag")
            | Kenya
          .country
            img(src="https://flagcdn.com/w40/ke.png" width = 49.985 height = 29.985, alt="flag")
            | Mombosa

        .table-row
          .country
            img(src="https://flagcdn.com/w40/ug.png" width = 49.985 height = 29.985, alt="flag")
            | Uganda
          .country
            img(src="https://flagcdn.com/w40/so.png" width = 49.985 height = 29.985, alt="flag")
            | Somalia
          .country
            img(src="https://flagcdn.com/w40/et.png" width = 49.985 height = 29.985, alt="flag")
            | Ethiopia

        .table-row
          .country
            img(src="https://flagcdn.com/w40/tz.png" width = 49.985 height = 29.985, alt="flag")
            | Tanzania
          .country
            img(src="https://flagcdn.com/w40/rw.png" width = 49.985 height = 29.985, alt="flag")
            | Rwanda
          .country
            img(src="https://flagcdn.com/w40/bi.png" width = 49.985 height = 29.985, alt="flag")
            | Burundi

        .table-row
          .country
            img(src="https://flagcdn.com/w40/za.png" width = 49.985 height = 29.985, alt="flag")
            | South Africa

        
          
             
    .row.justify-content-end
      .button-offset.d-lg-block
        a.boxed-btn3.bg-fix(href='index.html') Go Back

+footer()