doctype html
include ./layout.jade
include ./mixins.jade 

+header("See3D - User", "User")

// about_start
.popular_catagory_area
  .container
    .row
      .col-lg-10
        h1 Hello User
// about_end

+footer()