// Includes for page layout and individual widgets
include ./layout.pug

+header("See3D - ASL Models Assignment", "ASL Models Assignment - The Past Foundation")

.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Resources
    .row
      .col-lg-10
        p.fix-font-20
          a(href="img/asl/ASL-Sample-Model.jpg") Sample Hand Sign Model
        p.fix-font-20
          a(href="img/asl/26-Letters.png") ASL Alphabet Reference
      .w-100

+footer()