// Includes for page layout and individual widgets
include ./components/layout.pug
include ./components/mixins.pug
include ./components/utils.pug

+header("See3D - Blog Post", post.attributes.title)

//Change link colors to be more visible (Include Before Header so Styles will take precedence)
style.
  .blog-link {
    color: #005999 !important;
  }
  .blog-Link:hover {
    color: white !important;
  }

  /* Change Blog Post Colors */
  .blog_details h1, h2, h3, h4, h5, h6, a, p, div {
    color: black;
  }

section.blog_area.single-post-area.section-padding
  .container
    .row
      .col-lg-8.posts-list
        .single-post
          .feature-img
            img.img-fluid(src=`${strapi_url}${post.attributes.coverPhoto.data.attributes.url}` alt=`${post.attributes.coverPhoto.data.attributes.alternativeText}`)
          .blog_details
            h2=post.attributes.title
              
        .navigation-top
          .d-sm-flex.justify-content-between.text-center
            .col-sm-4.text-center.my-2.my-sm-0
              // <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p>
            ul.social-icons
              li
                a(href='https://www.facebook.com/See3Dprintingfortheblind')
                  i.fa.fa-facebook-f
              li
                a(href='https://twitter.com/See3Dprinting')
                  i.fa.fa-twitter
              li
                a(href='https://www.instagram.com/see.3d/')
                  i.fa.fa-instagram
              li
                a(href='https://www.linkedin.com/company/34946156')
                  i.fa.fa-linkedin
      .col-lg-4

+blog_showdown(post.attributes.content, "body > section > div > div > div.col-lg-8.posts-list > div.single-post > div.blog_details")

+footer()
