include ./layout.pug 
include ./mixins.pug


+header("See3D - Board Members", "Board Members")

// about_start
.testimonial_area
  .container
    .row
      .col-xl-12
        style.
          .row {
          margin-bottom: 40px;
          }
          .quote_icon {
          display: none;
          }
        +team_member('img/team/caroline.png', 'caroline karbowski head shot', 'Caroline Karbowski - CEO and Founder', 'Biology Major at The Ohio State University')
        +team_member('img/team/emily.png', 'emily kiehl head shot', 'Emily Kiehl', 'Information Technology and MBA at University of Cincinnati')
        +team_member('img/team/garrett.png', 'garrett carder head shot', 'Garrett Carder - CTO', 'Computer Science Major at The Ohio State University')
        +team_member('img/team/LindsayYazzalino.jpg', 'Lindsay Yazzolino touching a tactile bird', 'Lindsay Yazzolino', 'Tactile Technology Specialist at Touch Graphics, Inc.')
        +team_member('img/team/SamuelFoulkes.jpg', 'Samuel Foulkes outside wearing a jacket and scarf', 'Samuel Foulkes', 'Manager of Braille Printing House at Clovernook Center for the Blind and Visually Impaired')
// about_end

+footer()