// Includes for page layout and individual widgets
include ./layout.pug
include ./mixins.pug

+header("See3D - Donate", "Donate")

// about_start
.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Financially
    .row
      .col-lg-10
        p.fix-font-20
          | Donations allow us to keep providing 3D models at no price to people who are blind. An average 6 inch model costs about $40 to print and a learning guide costs about $100 to produce. Click below to donate today!
    .row(style='display: block; text-align: center;')
      form(style='display: inline-block; margin-left:auto; margin-right: auto; text-align: left;', action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='CFQ4MENHYXSRU')
        input(type='image', src='img/donate/donate.png', border='0', name='submit', title='PayPal - The safer, easier way to pay online!', alt='Donate with PayPal button')
        img(alt='Donate with paypal', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
    .row(style='display: block; text-align: center;')
      a(href='https://account.venmo.com/u/See3D')
        img(alt='Donate with Venmo', src='img/donate/venmo.png', height='168px')
    .row(style='display: block; text-align: center;')
      a(href='https://www.igive.com/index.cfm/causetoolbox/joinlink')
        img(alt='Show with I Give and donate to see3d', src='img/donate/igive.png', height='168px')

    br
    .row
      .col-lg-12
        .section_title.mb-40
          h3 In-Kind Donations 
    .row
      .col-lg-12
        p.fix-font-20 In-kind donations provide us the materials we need to continue to produce educational 3D models.
    .row
      .col-lg-12
        ul.unordered-list(style='padding-bottom: 13px;')
          li PLA filament in any color
          li Braille writing equipment and clear label stickers
          li 3D printers
          li Tools to clean 3D prints such as foam sanding blocks, tweezers, and heat embossers
          li Cardboard boxes and packaging materials
          li 3D printed models

    .row
      .col-lg-12 
        p.fix-font-20 
          | If you would like to give an in-kind donation, reach out to 
          a(href='mailto:info@see3d.org') info@see3d.org
          |.

+footer()