

include ./layout.pug
include ./mixins.pug


+header("See3D - Get Involved", "Getting Involved")

// about_start
.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 3D Printing
    .row
      .col-lg-10
        p.fix-font-20
          | Do you love 3D printing, but don't know what to make? Have excess filament? Want to intrigue students to design a model with a need? Ask us for suggestions!
      .w-100
      .col-lg-10
        p.fix-font-20 You can help by
      .w-100
      .col-lg-10
        ul.unordered-list(style='padding-bottom: 50px;')
          li
            | Printing multiple copies of common model requests (maps, famous landmarks, animals, and STEM concepts)
          li Designing new models that do not have an STL file available online
          li
            | Donating 3D prints that are no longer being used (including previous model requests from See3D)
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Braille
    .row
      .col-lg-10
        p.fix-font-20
          | Our models frequently include braille labels and descriptions, so people who are blind can explore and understand their model independently.
      .w-100
      .col-lg-10
        p.fix-font-20 We can use your help to transcribe and/or emboss
      .w-100
      .col-lg-10
        ul.unordered-list(style='padding-bottom: 13px;')
          li We can use your help to transcribe and/or emboss
          li Address labels
          li Model labels
      .w-100
      .col-lg-10
        p.fix-font-20
          | We use Unified English Braille (UEB) for recipients requesting braille in English. We are looking to partner with people who are able to write braille in other languages, so we can reach a larger population.
      .w-100
      .col-lg-10
        p.fix-font-20
          | To volunteer with us,  
          a.text-link(href='https://forms.gle/ZXzzUMt3e3FLeDXW7') Click Here
          | .
        p.fix-font-20
          | To stay updated with what we are doing,  
          a.text-link(href='https://docs.google.com/forms/d/e/1FAIpQLSdII32MwHKMRojaJ5_U8DUQTai1ykE1erx8-maZvYW5Y9jjEg/viewform?usp=sf_link') Click Here
          | .
    .row.justify-content-end
      .button-offset.d-lg-block
        a.boxed-btn3.bg-fix(href='index.html') Go Back
// about_end

+footer()
