// Includes for page layout and individual widgets
include ./layout.pug
include ./mixins.pug

+index_header(title)

// slider_area_start
.slider_area
  .single_slider.d-flex.align-items-center.slider_bg_1
    .container
      .row.align-items-center
        .col-lg-7.col-md-6
          .slider_text
            h3.wow.fadeInLeft(data-wow-duration='1s', data-wow-delay='.3s') See3D
            p.tagline-addin.wow.fadeInLeft(data-wow-duration='1s', data-wow-delay='.4s')
              | A non-profit organization that manages the printing and distribution of 3D printed models for people who are blind.
            .sldier_btn.wow.fadeInLeft(data-wow-duration='1s', data-wow-delay='.5s')
              a.boxed-btn3(href='donate') Donate to See3D
  .ilstration_img.wow.fadeInRight.d-none.d-lg-block.text-right(data-wow-duration='1s', data-wow-delay='.2s')
    img(src='img/banner/illustration.png', alt='Background image with blue see3d logo')
// slider_area_end

// impact_start
.fix-bottom.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Impact
  .container
    .row
      .col-lg-12
        ul.unordered-list(style='padding-bottom: 13px;')
          li.fix-font-20
            | Distributed over 1,400 models since 2017
          li.fix-font-20
            | Models sent to 21 states, 9 countries, and 0. organizations
          li.fix-font-20
            | Connections made in 18 countries
          li.fix-font-20
            | 13 organizations have awarded us grants, funding, or in-kind donations
          li.fix-font-20
            | You can support us via PayPal, check, AmazonSmile, or via in-kind donations
    .row.justify-content-center
      .col-lg-12
          #amznCharityBanner
            script(type='text/javascript').
             (function() {var iFrame = document.createElement('iframe'); iFrame.style.display = 'none'; iFrame.style.border = "none"; iFrame.width = 310; iFrame.height = 256; iFrame.setAttribute && iFrame.setAttribute('scrolling', 'no'); iFrame.setAttribute('frameborder', '0'); setTimeout(function() {var contents = (iFrame.contentWindow) ? iFrame.contentWindow : (iFrame.contentDocument.document) ? iFrame.contentDocument.document : iFrame.contentDocument; contents.document.open(); contents.document.write(decodeURIComponent("%3Cdiv%20id%3D%22amznCharityBannerInner%22%3E%3Ca%20href%3D%22https%3A%2F%2Fsmile.amazon.com%2Fch%2F84-3805114%22%20target%3D%22_blank%22%3E%3Cdiv%20class%3D%22text%22%20height%3D%22%22%3E%3Cdiv%20class%3D%22support-wrapper%22%3E%3Cdiv%20class%3D%22support%22%20style%3D%22font-size%3A%2025px%3B%20line-height%3A%2028px%3B%20margin-top%3A%2029px%3B%20margin-bottom%3A%2029px%3B%22%3ESupport%20%3Cspan%20id%3D%22charity-name%22%20style%3D%22display%3A%20inline-block%3B%22%3ESee3D%20Inc.%3C%2Fspan%3E%3C%2Fdiv%3E%3C%2Fdiv%3E%3Cp%20class%3D%22when-shop%22%3EWhen%20you%20shop%20at%20%3Cb%3Esmile.amazon.com%2C%3C%2Fb%3E%3C%2Fp%3E%3Cp%20class%3D%22donates%22%3EAmazon%20donates.%3C%2Fp%3E%3C%2Fdiv%3E%3C%2Fa%3E%3C%2Fdiv%3E%3Cstyle%3E%23amznCharityBannerInner%7Bbackground-image%3Aurl(https%3A%2F%2Fm.media-amazon.com%2Fimages%2FG%2F01%2Fx-locale%2Fpaladin%2Fcharitycentral%2Fbanner-background-image._CB485922134_.png)%3Bwidth%3A300px%3Bheight%3A250px%3Bposition%3Arelative%7D%23amznCharityBannerInner%20a%7Bdisplay%3Ablock%3Bwidth%3A100%25%3Bheight%3A100%25%3Bposition%3Arelative%3Bcolor%3A%23000%3Btext-decoration%3Anone%7D.text%7Bposition%3Aabsolute%3Btop%3A20px%3Bleft%3A15px%3Bright%3A15px%3Bbottom%3A100px%7D.support-wrapper%7Boverflow%3Ahidden%3Bmax-height%3A86px%7D.support%7Bfont-family%3AArial%2Csans%3Bfont-weight%3A700%3Bline-height%3A28px%3Bfont-size%3A25px%3Bcolor%3A%23333%3Btext-align%3Acenter%3Bmargin%3A0%3Bpadding%3A0%3Bbackground%3A0%200%7D.when-shop%7Bfont-family%3AArial%2Csans%3Bfont-size%3A15px%3Bfont-weight%3A400%3Bline-height%3A25px%3Bcolor%3A%23333%3Btext-align%3Acenter%3Bmargin%3A0%3Bpadding%3A0%3Bbackground%3A0%200%7D.donates%7Bfont-family%3AArial%2Csans%3Bfont-size%3A15px%3Bfont-weight%3A400%3Bline-height%3A21px%3Bcolor%3A%23333%3Btext-align%3Acenter%3Bmargin%3A0%3Bpadding%3A0%3Bbackground%3A0%200%7D%3C%2Fstyle%3E")); contents.document.close(); iFrame.style.display = 'block';}); document.getElementById('amznCharityBanner').appendChild(iFrame); })();

    .col-lg-12
      .row.justify-content-end
        .button-offset.d-lg-block
          a.boxed-btn3.bg-fix(href='donate') Donate to our PayPal
// impact_end

// about_start
.fix-bottom.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 About Our Project
    .row
      .col-lg-10
        p.fix-font-20
          | See3D organizes the printing and distribution of 3D printed models for people who are blind. Anyone who is blind/has low vision, or is a parent or teacher of someone who is blind, can make a request for a model.
      .w-100
      .col-lg-10
        p.fix-font-20
          | If you would like to support our mission, you can 
          a.text-link(href='donate') donate to us
          | .
    .row.justify-content-end
      .button-offset.d-lg-block
        a.boxed-btn3.bg-fix(href='about') More Info
// about_end

// get_involved_start
.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Get Involved!
    .row
      .col-lg-10
        p.fix-font-20
          | Anybody with a 3D printer, old 3D prints, or 3D modeling skills can help See3D. Click below for more Information.
    .row.justify-content-end
      .button-offset.d-lg-block
        a.boxed-btn3.bg-fix(href='get_involved') More Info
// get_involved_end

// model_kits_start
.fix-top.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Model Kits
        p.fix-font-20(style='margin-bottom: 30px;')
          | See3D now offers educational model kits that walk you through the model piece by piece. If you would like to request a model kit indicate that in the model description on the request form.
    .row
      .col-lg-4.col-xl-3.col-md-6
        .single_catagory
          a(href='/index?model_kit=united-states-kit')
            h4 United States Kit
          img(src='img/thingiverse/united-states-kit.jpg', alt='State of Liberty 3D Model')
          // <p> <span>50</span> Available position</p>
      .col-lg-4.col-xl-3.col-md-6
        .single_catagory
          a(href='/index?model_kit=anatomy-kit')
            h4 Anatomy Kit
          img(src='img/thingiverse/anatomy-kit.jpg', alt='Intestine 3D Model')
          // <p> <span>50</span> Available position</p>
// model_kits_end

// request_start
.popular_catagory_area.fix-top
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Request a Model
    .row
      .col-lg-10
        p.fix-font-20
          | If you would like to request a model, click the button below to start the process of requesting a model.
    br
    .row.justify-content-end
      .button-offset.d-lg-block
        a.boxed-btn3.bg-fix(href='request_info') Request a Model
// request_end

// job_searcing_wrap
.job_searcing_wrap.overlay
  .container
    .row
      .col-lg-5.offset-lg-1.col-md-6
        .searching_text
          h3 Donate to See3D
          p Click Below to Support us Financially
          a.boxed-btn3(href='donate') Donate
      .col-lg-5.offset-lg-1.col-md-6
        .searching_text
          h3 In-Kind Donations
          p
            | We also accept in-kind donations of 3D printing supplies and some other blindness related items.
          a.boxed-btn3(href='get_involved') More Info
// job_searcing_wrap end

// job_listing_area_start
//
  <div class="job_listing_area">
  <div class="container">
  <div class="row align-items-center">
  <div class="col-lg-6">
  <div class="section_title">
  <h3>Job Listing</h3>
  </div>
  </div>
  <div class="col-lg-6">
  <div class="brouse_job text-right">
  <a href="jobs" class="boxed-btn4">Browse More Job</a>
  </div>
  </div>
  </div>
  <div class="job_lists">
  <div class="row">
  <div class="col-lg-12 col-md-12">
  <div class="single_jobs white-bg d-flex justify-content-between">
  <div class="jobs_left d-flex align-items-center">
  <div class="thumb">
  <img src="img/svg_icon/1.svg" alt="">
  </div>
  <div class="jobs_conetent">
  <a href="job_details"><h4>Software Engineer</h4></a>
  <div class="links_locat d-flex align-items-center">
  <div class="location">
  <p> <i class="fa fa-map-marker"></i> California, USA</p>
  </div>
  <div class="location">
  <p> <i class="fa fa-clock-o"></i> Part-time</p>
  </div>
  </div>
  </div>
  </div>
  <div class="jobs_right">
  <div class="apply_now">
  <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
  <a href="job_details" class="boxed-btn3">Apply Now</a>
  </div>
  <div class="date">
  <p>Date line: 31 Jan 2020</p>
  </div>
  </div>
  </div>
  </div>
  <div class="col-lg-12 col-md-12">
  <div class="single_jobs white-bg d-flex justify-content-between">
  <div class="jobs_left d-flex align-items-center">
  <div class="thumb">
  <img src="img/svg_icon/2.svg" alt="">
  </div>
  <div class="jobs_conetent">
  <a href="job_details"><h4>Digital Marketer</h4></a>
  <div class="links_locat d-flex align-items-center">
  <div class="location">
  <p> <i class="fa fa-map-marker"></i> California, USA</p>
  </div>
  <div class="location">
  <p> <i class="fa fa-clock-o"></i> Part-time</p>
  </div>
  </div>
  </div>
  </div>
  <div class="jobs_right">
  <div class="apply_now">
  <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
  <a href="job_details" class="boxed-btn3">Apply Now</a>
  </div>
  <div class="date">
  <p>Date line: 31 Jan 2020</p>
  </div>
  </div>
  </div>
  </div>
  <div class="col-lg-12 col-md-12">
  <div class="single_jobs white-bg d-flex justify-content-between">
  <div class="jobs_left d-flex align-items-center">
  <div class="thumb">
  <img src="img/svg_icon/3.svg" alt="">
  </div>
  <div class="jobs_conetent">
  <a href="job_details"><h4>Wordpress Developer</h4></a>
  <div class="links_locat d-flex align-items-center">
  <div class="location">
  <p> <i class="fa fa-map-marker"></i> California, USA</p>
  </div>
  <div class="location">
  <p> <i class="fa fa-clock-o"></i> Part-time</p>
  </div>
  </div>
  </div>
  </div>
  <div class="jobs_right">
  <div class="apply_now">
  <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
  <a href="job_details" class="boxed-btn3">Apply Now</a>
  </div>
  <div class="date">
  <p>Date line: 31 Jan 2020</p>
  </div>
  </div>
  </div>
  </div>
  <div class="col-lg-12 col-md-12">
  <div class="single_jobs white-bg d-flex justify-content-between">
  <div class="jobs_left d-flex align-items-center">
  <div class="thumb">
  <img src="img/svg_icon/4.svg" alt="">
  </div>
  <div class="jobs_conetent">
  <a href="job_details"><h4>Visual Designer</h4></a>
  <div class="links_locat d-flex align-items-center">
  <div class="location">
  <p> <i class="fa fa-map-marker"></i> California, USA</p>
  </div>
  <div class="location">
  <p> <i class="fa fa-clock-o"></i> Part-time</p>
  </div>
  </div>
  </div>
  </div>
  <div class="jobs_right">
  <div class="apply_now">
  <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
  <a href="job_details" class="boxed-btn3">Apply Now</a>
  </div>
  <div class="date">
  <p>Date line: 31 Jan 2020</p>
  </div>
  </div>
  </div>
  </div>
  <div class="col-lg-12 col-md-12">
  <div class="single_jobs white-bg d-flex justify-content-between">
  <div class="jobs_left d-flex align-items-center">
  <div class="thumb">
  <img src="img/svg_icon/5.svg" alt="">
  </div>
  <div class="jobs_conetent">
  <a href="job_details"><h4>Software Engineer</h4></a>
  <div class="links_locat d-flex align-items-center">
  <div class="location">
  <p> <i class="fa fa-map-marker"></i> California, USA</p>
  </div>
  <div class="location">
  <p> <i class="fa fa-clock-o"></i> Part-time</p>
  </div>
  </div>
  </div>
  </div>
  <div class="jobs_right">
  <div class="apply_now">
  <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
  <a href="job_details" class="boxed-btn3">Apply Now</a>
  </div>
  <div class="date">
  <p>Date line: 31 Jan 2020</p>
  </div>
  </div>
  </div>
  </div>
  <div class="col-lg-12 col-md-12">
  <div class="single_jobs white-bg d-flex justify-content-between">
  <div class="jobs_left d-flex align-items-center">
  <div class="thumb">
  <img src="img/svg_icon/1.svg" alt="">
  </div>
  <div class="jobs_conetent">
  <a href="job_details"><h4>Creative Designer</h4></a>
  <div class="links_locat d-flex align-items-center">
  <div class="location">
  <p> <i class="fa fa-map-marker"></i> California, USA</p>
  </div>
  <div class="location">
  <p> <i class="fa fa-clock-o"></i> Part-time</p>
  </div>
  </div>
  </div>
  </div>
  <div class="jobs_right">
  <div class="apply_now">
  <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
  <a href="job_details" class="boxed-btn3">Apply Now</a>
  </div>
  <div class="date">
  <p>Date line: 31 Jan 2020</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
// job_listing_area_end

// featured_candidates_area_start
.pad-top.fix-bottom.featured_candidates_area
  .container
    .row
      .col-lg-12
        .section_title.text-center.mb-40
          h3 Sponsors and Donors
    .row
      .col-lg-12
        .candidate_active.owl-carousel
          +donator('img/sponsors/CapitalOne.jpg', 'Capital One Logo', 'https://www.capitalone.com/', 'Capital One')
          +donator('img/sponsors/innovation.png', 'The Ohio State University Innovation Studio logo', 'https://go.osu.edu/innovationstudio', 'The OSU Innovation Studio')
          +donator('img/sponsors/ge.png', 'General Electric additive education program logo', 'https://www.ge.com/additive/stories/ge-additive-education-program-0', 'GE Additive Education')
          +donator('img/sponsors/ic3d.png', 'IC3D Printers logo', 'https://ic3dprinters.com/', 'IC3D Printers')
          +donator('img/sponsors/goodall.png', 'Jane goodall roots and shoots logo', 'https://janegoodall.org/our-work/our-approach/roots-shoots/', 'Jane Goodall\'s Roots and Shoots')
          +donator('img/sponsors/vora.png', 'Vora Ventures logo', 'https://www.voraventures.com/', 'Vora Ventures')
          +donator('img/sponsors/geckotek.png', 'GeckoTek logo', 'https://www.geckotek.co/', 'GeckoTek')
// featured_candidates_area_end
// Company Card area (Potential Future Use)
//
  <div class="top_companies_area">
  <div class="container">
  <div class="row align-items-center mb-40">
  <div class="col-lg-6 col-md-6">
  <div class="section_title">
  <h3>Top Companies</h3>
  </div>
  </div>
  <div class="col-lg-6 col-md-6">
  <div class="brouse_job text-right">
  <a href="jobs" class="boxed-btn4">Browse More Job</a>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="col-lg-4 col-xl-3 col-md-6">
  <div class="single_company">
  <div class="thumb">
  <img src="img/svg_icon/5.svg" alt="">
  </div>
  <a href="jobs"><h3>Snack Studio</h3></a>
  <p> <span>50</span> Available position</p>
  </div>
  </div>
  <div class="col-lg-4 col-xl-3 col-md-6">
  <div class="single_company">
  <div class="thumb">
  <img src="img/svg_icon/4.svg" alt="">
  </div>
  <a href="jobs"><h3>Snack Studio</h3></a>
  <p> <span>50</span> Available position</p>
  </div>
  </div>
  <div class="col-lg-4 col-xl-3 col-md-6">
  <div class="single_company">
  <div class="thumb">
  <img src="img/svg_icon/3.svg" alt="">
  </div>
  <a href="jobs"><h3>Snack Studio</h3></a>
  <p> <span>50</span> Available position</p>
  </div>
  </div>
  <div class="col-lg-4 col-xl-3 col-md-6">
  <div class="single_company">
  <div class="thumb">
  <img src="img/svg_icon/1.svg" alt="">
  </div>
  <a href="jobs"><h3>Snack Studio</h3></a>
  <p> <span>50</span> Available position</p>
  </div>
  </div>
  </div>
  </div>
  </div>
// testimonial_area
.testimonial_area
  .container
    .row
      .col-lg-12
        .section_title.text-center.mb-40
          h3 Testimonials
      .col-xl-12
        .testmonial_active.owl-carousel
          .single_carousel
            .row
              .col-lg-11
                .single_testmonial.d-flex.align-items-center
                  .thumb
                    img(src='img/testimonial/karen_arcos.png', alt='Karen Arcos')
                    .quote_icon
                      i.Flaticon.flaticon-quote
                  // Added the class fix-font-20 to change font size - Viren
                  .info.fix-font-20
                    p
                      | "I had a vague idea what a castle looked like in terms of the base. The top and towers were completely new to me; I'd always heard of towers and castles but didn't imagine the towers were a part of the castle."
                    // Added the class text-link to all Read More Links - Viren
                    a.text-link(href='/index?testimony=karen_arcos') Read More... 
                    span - Karen Arcos
          .single_carousel
            .row
              .col-lg-11
                .single_testmonial.d-flex.align-items-center
                  .thumb
                    img(src='img/testimonial/rachel_hage.png', alt='Rachel Hage')
                    .quote_icon
                      i.Flaticon.flaticon-quote
                  .info.fix-font-20
                    p
                      | "This is a great organization, and I continue to promote it to other blind/visually impaired individuals to use as a source for learning tactilely."
                    a(href='?testimony=rachel_hage') Read More...
                    span - Rachel Hage
          .single_carousel
            .row
              .col-lg-11
                .single_testmonial.d-flex.align-items-center
                  .thumb
                    img(src='img/testimonial/michelle_quinn.png', alt='Snowflake 3D models made for michelle quinn')
                    .quote_icon
                      i.Flaticon.flaticon-quote
                  .info.fix-font-20
                    p
                      | "See3D has been a wonderful and valuable resource for my students who are blind and visually impaired. They absolutely love the tactual models of their favorite movie characters such as R2D2 from Star Wars and the Minions."
                    a(href='?testimony=michelle_quinn') Read More...
                    span - Michelle Quinn
          .single_carousel
            .row
              .col-lg-11
                .single_testmonial.d-flex.align-items-center
                  .thumb
                    img(src='img/testimonial/winslow_parker.png', alt='Klein bottle 3d models made for winslow parker')
                    .quote_icon
                      i.Flaticon.flaticon-quote
                  .info.fix-font-20
                    p
                      | "These weird shapes are fascinating and I find myself exploring the model while my brain is busy doing its thing. Thanks Caroline, all you other volunteers and those who contribute financially to this project. Very helpful and enlightening."
                    a(href='?testimony=winslow_parker') Read More...
                    span - Winslow Parker
// /testimonial_area

// articles_start
.fix-top.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 News
    .row
      +link_card("UATP Accessible Times Podcast", "https://utahatprogram.blogspot.com/2020/08/uatp-accessible-times-podcast-episode-2.html?m=1")
      +link_card("Easterseals", "https://www.eastersealstech.com/2018/10/12/atu385-see3d-3d-printing-for-the-blind-with-caroline-karbowski/")
      +link_card("Future Reflections", "https://www.nfb.org/images/nfb/publications/fr/fr39/1/fr390109.htm")
      +link_card("Journal of Science Education", "https://scholarworks.rit.edu/jsesd/vol23/iss1/6/")
      +link_card("Blind Abilities", "https://blindabilities.com/?p=2957")
      +link_card("TEDx Talk", "https://www.youtube.com/watch?v=uf_Qw8mcMh0&app=desktop")
      +link_card("Access World", "https://www.afb.org/aw/18/9/15174")
// articles_end

// collaborations 








+footer()