// Includes for page layout and individual widgets
include ./layout.pug
include ./mixins.pug

+index_header(title)

// slider_area_start
.slider_area
  .single_slider.d-flex.align-items-center.slider_bg_1
    .container
      .row.align-items-center
        .col-lg-7.col-md-6
          .slider_text
            h3.wow.fadeInLeft(data-wow-duration='1s', data-wow-delay='.3s') See3D
            p.tagline-addin.wow.fadeInLeft(data-wow-duration='1s', data-wow-delay='.4s')
              | A non-profit organization that manages the printing and distribution of 3D printed models for people who are blind.
            .slider_btn.wow.fadeInLeft(data-wow-duration='1s', data-wow-delay='.5s')
              a.boxed-btn3(href='donate') Donate to See3D
            .slider_btn.wow.fadeInLeft(data-wow-duration='1s', data-wow-delay='.5s', style='margin-top: 20px;')
              a.boxed-btn3(href='https://forms.gle/ybYM4iSU6FgjFVop8') Provide Feedback
  .ilstration_img.wow.fadeInRight.d-none.d-lg-block.text-right(data-wow-duration='1s', data-wow-delay='.2s')
    img(src='img/banner/illustration.png', alt='Background image with blue see3d logo')
// slider_area_end
// impact_start
.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Impact
  .container
    .row
      .col-lg-12
        ul.unordered-list(style='padding-bottom: 13px;')
          li Distributed over 4,000 models since 2017
          li Models sent to 50 states as well as Puerto Rico and American Samoa, 20 countries, and 28 organizations
          li 13 organizations have awarded us grants, funding, or in-kind donations
          li You can support us via PayPal, check, Kroger Rewards, or via in-kind donations
          li 
            a(href = 'https://docs.google.com/document/d/1Ekve3--tgHBMiGwsmR2Ggb5vXSn6Ch9ifRSRerGwrgE/edit#heading=h.y7r5wzx3kykd') Click here for a compiled list of links and resources 

// impact_end
// job_searcing_wrap
.job_searcing_wrap.overlay
  .container
    .row
      .col-lg-5.offset-lg-1.col-md-6
        .searching_text
          h3 Donate to See3D
          p Click Below to Support us Financially
          a.boxed-btn3-dark-bg(href='donate') Donate
      .col-lg-5.offset-lg-1.col-md-6
        .searching_text
          h3 In-Kind Donations
          p
            | We also accept in-kind donations of 3D printing supplies and some other blindness related items.
          a.boxed-btn3-dark-bg(href='get_involved') More Info
// job_searcing_wrap end
// about_start
.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 About Our Project
    .row
      .col-lg-10
        p.fix-font-20
          | See3D organizes the printing and distribution of 3D printed models for people who are blind. Anyone who is blind/has low vision, or is a parent or teacher of someone who is blind, can make a request for a model.
      .w-100
      .col-lg-10 
        p.fix-font-20
          | Our mission at See3D is To:
        ul.unordered-list(style='padding-bottom: 13px;')
          li Connect people who are blind and sighted through 3D printing.
          li Organize the printing and distribution of 3D printed models for people who are blind.
          li Spread awareness of the importance of accessible materials and independent living skills.
      .w-100
      .col-lg-10
        p.fix-font-20
          | If you would like to support our mission, you can 
          a.text-link(href='donate') donate to us
          | .
    .row.justify-content-end
      .button-offset.d-lg-block
        a.boxed-btn3.bg-fix(href='about') More Info
// about_end
// request_start
.popular_catagory_area.fix-top
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Request a Model
    .row
      .col-lg-10
        p.fix-font-20
          | If you would like to request a model, click the button below to start the process of requesting a model.
    br
    .row.justify-content-end
      .button-offset.d-lg-block
        a.boxed-btn3.bg-fix(href='request_info') Request a Model
// request_end
// get_involved_start
.popular_catagory_area.fix-top
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Get Involved!
    .row
      .col-lg-10
        p.fix-font-20
          | Anybody with a 3D printer, old 3D prints, or 3D modeling skills can help See3D. Click below for more Information.
    .row.justify-content-end
      .button-offset.d-lg-block
        a.boxed-btn3(href='get_involved') More Info
// get_involved_end
// collaborations_start
.testimonial_area.fix-top
  .container
    .row
      .col-lg-12
        .section_title.text-center.mb-40
          h3 Collaborations
      .col-xl-12
        .testmonial_active.owl-carousel
          .single_carousel
            .row
              .col-lg-11
                .single_testmonial.d-flex.align-items-center
                  .thumb
                    img(src='img/collaborations/Clovernook4.png', alt='Five cardboard boxes filled with braille magazines and a smaller empty box. Colorful models are arranged of the boxes to be packed in the empty boces.')
                  .info.fix-font-20
                    a(href='https://clovernook.org/') Clovernook Center for the Blind & Visually Impaired 
                    p
                      | Printed models for competitors in the Ohio Regional Braille Challenge (2018, 2019, 2020) hosted at Clovernook. We also donated models to 
                      a.text-link(href='https://www.youtube.com/watch?v=68IgAdVzkys') Empower Blind People 
                      | in Bishkek, Kyrgyzstan, 
                      a.text-link(href='https://www.facebook.com/PacelliAlumniNetwork/') Pacelli School for the Blind and Partially Sighted Children
                      | , Nigeria, 
                      a.text-link(href='https://tlecrehab.com/') TLEC Rehab Center for the Blind
                      | , Nigeria, St. Joseph's School for the Blind, Nigeria, Special School for the Blind in Abakalikki, Nigeria, and Mandokota School for the Blind, Malawi, by Clovernook’s collaborations.
          .single_carousel
            .row
              .col-lg-11
                .single_testmonial.d-flex.align-items-center
                  .thumb
                    img(src='img/collaborations/OSSB Taj Mahal.png', alt='Taj Mahal model from the Ohio State School for the Blind historic landmark model collection with four smaller 3D printed Taj Mahal models (dodo2000, 2015) printed by students in the OSSB Model Club. A large print and braille description written by students is also included to give historical context for the model.')
                  .info.fix-font-20
                    a(href='https://ossb.ohio.gov/wps/portal/gov/ossb/') Ohio State School for the Blind (OSSB)
                    p
                      | Lead the Model Club (2018-2022) where students printed and designed models of choice and models requested by their teachers. We also printed models for the 2020 OSSB Astronomy Summer camp. 
          .single_carousel
            .row
              .col-lg-11
                .single_testmonial.d-flex.align-items-center
                  .thumb
                    img(src='img/collaborations/CAVBI and Sea Animals.png', alt='Blue sea creature models: Seahorse, fish in an anemone, frog, whale, shark, and toad, next to the CABVI logo: A blue square with the letters CA and the dot of an i on the top row next to them and the letters BV in the bottom row with the rest of the i next to them')
                  .info.fix-font-20
                    a(href='https://www.newportaquarium.com/') Newport Aquarium 
                    | and 
                    a(href='https://www.cincyblind.org/') The Cincinnati Association for the Blind & Visually Impaired (CABVI)
                    p
                      | Newport: Created models of sea animals for the 2019 
                      a.text-link(href='https://www.cincyblind.org/press-release/cabvis-all-accessible-night-at-newport-aquarium/') All-Accessible Night at Newport Aquarium. </br>
                      | CABVI: Designed and printed their new logo so everyone could see the new design during the logo premier at their 2019 Annual Meeting. 
          .single_carousel
            .row
              .col-lg-11
                .single_testmonial.d-flex.align-items-center
                  .thumb
                    img(src='img/collaborations/DNA2.png', alt='Green DNA Helix')
                  .info.fix-font-20
                    a(href='https://nfbohio.org/') The National Federation of the Blind of Ohio
                    p
                      | Created shark and astronomy models for the 
                      a.text-link(href='https://www.nfb.org/programs-services/nfb-bell-academy') Braille Enrichment for Literacy and Learning Academy 
                      | (2019 NFB BELL Academy) and the 2019 state convention.
          .single_carousel
            .row
              .col-lg-11
                .single_testmonial.d-flex.align-items-center
                  .thumb
                    img(src='img/collaborations/Braille Labeled Pegs.png', alt='Bar graph model showing 4 pegs with notches inside a box with 4 holes, so the pegs can be placed inside. The amount poking out of the box is the value displayed. The holes are circular shaped with a small rectangle notch at the top. There is a removable braille label stick that can slide into a slot on the top of the box so you can make you own labels for the cylinders.')
                  .info.fix-font-20
                    a(href='https://www.htw-berlin.de/') Hochschule für Technik und Wirtschaft (HTW) Berlin (HTW Berlin - University of Applied Sciences)
                    p
                      | Collaborated with design students to design models related to COVID-19, floor plans, and astronomy. 
          .single_carousel
            .row
              .col-lg-11
                .single_testmonial.d-flex.align-items-center
                  .thumb
                    img(src='img/collaborations/Astronomy2.png', alt='Two orbs in pink and yellow filament with various constellations embedded on them, along with a moon crater printed in white filament')
                  .info.fix-font-20
                    a(href='https://www.sciaccess.org/') SciAccess
                    p
                      | Printed astronomy models for a camp with 17 students in the United States and Australia at the 2020 virtual 
                      a.text-link(href='https://activities.osu.edu/involvement/student_organizations/find_a_student_org/?i=4df24af2-3d43-47c4-bbe8-88eba5167d4d&l=S&c=Columbus&page=1') SciAccess Zenith Space Mentorship Program.
// collaborations_end
// model_kits_start
.fix-top.fix-bottom.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Model Kits
        p.fix-font-20(style='margin-bottom: 30px;')
          | See3D now offers educational model kits that walk you through the model piece by piece. If you would like to request a model kit, please  indicate that in the model description on the request form.
    .row
      .col-lg-4.col-xl-3.col-md-6
        .single_catagory
          a(href='/index?model_kit=united-states-kit')
            h4 United States Kit
          img(src='img/thingiverse/United-States-Kit.jpg', alt='United States 3D Model')
          // <p> <span>50</span> Available position</p>
      .col-lg-4.col-xl-3.col-md-6
        .single_catagory
          a(href='/index?model_kit=anatomy-kit')
            h4 Anatomy Kit
          img(src='img/thingiverse/Anatomy-Kit.jpg', alt='Intestine 3D Model')
          // <p> <span>50</span> Available position</p>
// model_kits_end
       
// six2020_start
.fix-bottom.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Interning with See3D 
  .container
    .row
      .col-lg-12
        ul.unordered-list(style='padding-bottom: 13px;')
          li Manage our Instagram, Twitter, Facebook and LinkedIn pages
          li Write learning guides for our 3D models
          li Create intriguing Graphics and Videos
          li Compile Blindness Statistics
          li Collaborate with Volunteers
          li Interview Model Recipients and write Blog Posts

// six2020_end
// featured_candidates_area_start
.pad-top.fix-bottom.featured_candidates_area
  .container
    .row
      .col-lg-12
        .section_title.text-center.mb-40
          h3 Sponsors and Donors
    .row
      .col-lg-12
        .candidate_active.owl-carousel
          +donator('img/sponsors/CapitalOne.jpg', 'Capital One Logo', 'https://www.capitalone.com/', 'Capital One')
          +donator('img/sponsors/innovation.png', 'The Ohio State University Innovation Studio logo', 'https://go.osu.edu/innovationstudio', 'The OSU Innovation Studio')
          +donator('img/sponsors/ge.png', 'General Electric additive education program logo', 'https://www.ge.com/additive/stories/ge-additive-education-program-0', 'GE Additive Education')
          +donator('img/sponsors/ic3d.png', 'IC3D Printers logo', 'https://ic3dprinters.com/', 'IC3D Printers')
          +donator('img/sponsors/goodall.png', 'Jane goodall roots and shoots logo', 'https://janegoodall.org/our-work/our-approach/roots-shoots/', 'Jane Goodall\'s Roots and Shoots')
          +donator('img/sponsors/vora.png', 'Vora Ventures logo', 'https://www.voraventures.com/', 'Vora Ventures')
          +donator('img/sponsors/geckotek.png', 'GeckoTek logo', 'https://www.geckotek.co/', 'GeckoTek')
          +donator('img/sponsors/SocietyForScienceLogo.jpg', 'Society for Science Logo', 'https://www.societyforscience.org/','Society For Science')
          +donator('img/sponsors/clovernook.png', 'Clovernook Logo', 'https://clovernook.org/','Clovernook')
          +donator('img/sponsors/exactmetrology.png', 'Exact Metrology Logo', 'https://www.exactmetrology.com/','Exact Metrology')
          +donator('img/sponsors/dirdim.png', 'Direct Dimensions', 'http://www.dirdim.com/','Direct Dimensions')
          +donator('img/sponsors/elegoo.png', 'Elegoo', 'https://www.elegoo.com/', 'Elegoo')
          +donator('img/sponsors/enterprise_holdings.jpg', 'Enterprise Holdings Foundation', '#', 'Enterprise Holdings Foundation')
          +donator('img/sponsors/thestandard.jpg', 'The Standard', 'https://www.standard.com/', 'The Standard')
          +donator('img/sponsors/carlile_patchen_murphy.jpg', 'Carlile Patchen & Murphy', 'https://www.cpmlaw.com/', 'Carlile Patchen & Murphy')
          +donator('img/sponsors/sycamore_church.jpg', 'Sycamore Presbyterian Church', 'https://www.sycamorechurch.org/', 'Sycamore Presbyterian Church')

// featured_candidates_area_end
.testimonial_area
  .container
    .row
      .col-lg-12
        .section_title.text-center.mb-40
          h3 Testimonials
      .col-xl-12
        .testmonial_active.owl-carousel
          .single_carousel
            .row
              .col-lg-11
                .single_testmonial.d-flex.align-items-center
                  .thumb
                    img(src='img/testimonial/karen_arcos.png', alt='Karen Arcos')
                    .quote_icon
                      i.Flaticon.flaticon-quote
                  // Added the class fix-font-20 to change font size - Viren
                  .info.fix-font-20
                    p
                      | "I had a vague idea what a castle looked like in terms of the base. The top and towers were completely new to me; I'd always heard of towers and castles but didn't imagine the towers were a part of the castle."
                    // Added the class text-link to all Read More Links - Viren
                    a(href='/index?testimony=karen_arcos') Read More... 
                    span - Karen Arcos
          .single_carousel
            .row
              .col-lg-11
                .single_testmonial.d-flex.align-items-center
                  .thumb
                    img(src='img/testimonial/rachel_hage.png', alt='Rachel Hage')
                    .quote_icon
                      i.Flaticon.flaticon-quote
                  .info.fix-font-20
                    p
                      | "This is a great organization, and I continue to promote it to other blind/visually impaired individuals to use as a source for learning tactilely."
                    a(href='?testimony=rachel_hage') Read More...
                    span - Rachel Hage
          .single_carousel
            .row
              .col-lg-11
                .single_testmonial.d-flex.align-items-center
                  .thumb
                    img(src='img/testimonial/michelle_quinn.png', alt='Snowflake 3D models made for michelle quinn')
                    .quote_icon
                      i.Flaticon.flaticon-quote
                  .info.fix-font-20
                    p
                      | "See3D has been a wonderful and valuable resource for my students who are blind and visually impaired. They absolutely love the tactual models of their favorite movie characters such as R2D2 from Star Wars and the Minions."
                    a(href='?testimony=michelle_quinn') Read More...
                    span - Michelle Quinn
          .single_carousel
            .row
              .col-lg-11
                .single_testmonial.d-flex.align-items-center
                  .thumb
                    img(src='img/testimonial/winslow_parker.png', alt='Klein bottle 3d models made for winslow parker')
                    .quote_icon
                      i.Flaticon.flaticon-quote
                  .info.fix-font-20
                    p
                      | "These weird shapes are fascinating and I find myself exploring the model while my brain is busy doing its thing. Thanks Caroline, all you other volunteers and those who contribute financially to this project. Very helpful and enlightening."
                    a(href='?testimony=winslow_parker') Read More...
                    span - Winslow Parker
// /testimonial_area
// articles_start
.fix-top.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          <h3 id="news"> News </h3>
    .row
      +link_card("OSU - Growth 'model'", "https://www.osu.edu/features/2021/growth-model.html")
      +link_card("UATP Accessible Times Podcast", "https://utahatprogram.blogspot.com/2020/08/uatp-accessible-times-podcast-episode-2.html?m=1")
      +link_card("Easterseals", "https://www.eastersealstech.com/2018/10/12/atu385-see3d-3d-printing-for-the-blind-with-caroline-karbowski/")
      +link_card("Future Reflections", "https://www.nfb.org/images/nfb/publications/fr/fr39/1/fr390109.htm")
      +link_card("Journal of Science Education", "https://scholarworks.rit.edu/jsesd/vol23/iss1/6/")
      +link_card("Blind Abilities", "https://blindabilities.com/?p=2957")
      +link_card("TEDx Talk", "https://www.youtube.com/watch?v=uf_Qw8mcMh0&app=desktop")
      +link_card("Access World", "https://www.afb.org/aw/18/9/15174")
// articles_end
          
+footer()

