// Tab Title
mixin index_header(title)
  doctype html
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-153533872-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-153533872-1');

    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title See3D - 3D Printing for the Blind
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // <link rel="manifest" href="site.webmanifest">
    link(rel='icon', href='favicon.ico', type="image/icon")
    // Place favicon.ico in the root directory
    // CSS here
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/magnific-popup.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/themify-icons.css')
    link(rel='stylesheet', href='css/nice-select.css')
    link(rel='stylesheet', href='css/flaticon.css')
    link(rel='stylesheet', href='css/gijgo.css')
    link(rel='stylesheet', href='css/animate.min.css')
    link(rel='stylesheet', href='css/slicknav.css')
    link(rel='stylesheet', href='css/style.css')
    // <link rel="stylesheet" href="css/responsive.css">
    //if lte IE 9
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='https://browsehappy.com/') upgrade your browser
        |  to improve your experience and security.
    // header-start

  header
    .header-area
      #sticky-header.main-header-area
        .container-fluid
          .header_bottom_border
            .row.align-items-center
              .col-xl-3.col-lg-2
                .logo
                  a(href='index')
                    // Changed the description to describe the logo more clearly - Viren 6/29
                    img(src='img/logo.png', alt='See3D Logo: The words See3D in blue being 3D printed. The black extruder hangs from a grey bar and extrudes blue filament that snakes down to the top of the letter D since See3D has finished printing.')
              .col-xl-6.col-lg-7
                .main-menu.d-none.d-lg-block
                  nav
                    ul#navigation
                      li
                        a(href='index') Home
                      li 
                        a(href='get_involved') Get Involved
                      li
                        a(href='board') Our Board
                      li
                        a(href='team') Our Team
                      li
                        a(href='gallery') Photos
                      //
                        <li><a href="#">pages <i class="ti-angle-down"></i></a>
                        <ul class="submenu">
                        <li><a href="candidate">Candidates </a></li>
                        <li><a href="job_details">job details </a></li>
                        <li><a href="elements">elements</a></li>
                        </ul>
                        </li>
                      li
                        a(href='blog') Blog
                      li
                        a(href='donate') Donate
                      li
                        a(href='http://shop.see3d.org/') Model Store 
                      li.mobile-only-nav
                        a(href='request_info') 
                          | Request a Model
              .col-xl-3.col-lg-3.d-none.d-lg-block
                .Appointment
                  //
                    <div class="phone_num d-none d-xl-block">
                    <a href="#">Log in</a>
                    </div>
                  .d-none.d-lg-block
                    a.boxed-btn3-dark-bg(href='request_info') Request a Model
        .col-12
          .mobile_menu.d-block.d-lg-none
// header-end


// Tab Title, H3 Displayed on Image
mixin header(title, heading)
  doctype html
  html.no-js(lang='en')
    head 
      // Global site tag (gtag.js) - Google Analytics
      script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-153533872-1')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-153533872-1');

      meta(charset='utf-8')
      meta(http-equiv='x-ua-compatible', content='ie=edge')
      title&attributes(attributes)=title
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      // <link rel="manifest" href="site.webmanifest">
      link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
      // Place favicon.ico in the root directory
      // CSS here
      link(rel='stylesheet', href='css/bootstrap.min.css')
      link(rel='stylesheet', href='css/owl.carousel.min.css')
      link(rel='stylesheet', href='css/magnific-popup.css')
      link(rel='stylesheet', href='css/font-awesome.min.css')
      link(rel='stylesheet', href='css/themify-icons.css')
      link(rel='stylesheet', href='css/nice-select.css')
      link(rel='stylesheet', href='css/flaticon.css')
      link(rel='stylesheet', href='css/gijgo.css')
      link(rel='stylesheet', href='css/animate.min.css')
      link(rel='stylesheet', href='css/slick.css')
      link(rel='stylesheet', href='css/slicknav.css')
      link(rel='stylesheet', href='css/style.css')
      // <link rel="stylesheet" href="css/responsive.css">
    body

      //if lte IE 9
        p.browserupgrade
          | You are using an 
          strong outdated
          |  browser. Please 
          a(href='https://browsehappy.com/') upgrade your browser
          |  to improve your experience and security.
      // header-start
      header
        .header-area
          #sticky-header.main-header-area
            .container-fluid
              .header_bottom_border
                .row.align-items-center
                  .col-xl-3.col-lg-2
                    .logo
                      a(href='index')
                        img(src='img/logo.png', alt='White See3D logo')
                  .col-xl-6.col-lg-7
                    .main-menu.d-none.d-lg-block
                      nav
                        ul#navigation
                          li
                            a(href='index') Home
                          li 
                            a(href='get_involved') Get Involved
                          li
                            a(href='board') Our Board
                          li
                            a(href='team') Our Team
                          li
                            a(href='gallery') Photos
                          //
                            <li><a href="#">pages <i class="ti-angle-down"></i></a>
                            <ul class="submenu">
                            <li><a href="candidate">Candidates </a></li>
                            <li><a href="job_details">job details </a></li>
                            <li><a href="elements">elements</a></li>
                            </ul>
                            </li>
                          li
                            a(href='blog') Blog
                          li
                            a(href='donate') Donate
                          li.mobile-only-nav
                            a(href='request_info') 
                              | Request a Model
                  .col-xl-3.col-lg-3.d-none.d-lg-block
                    .Appointment
                      .d-none.d-lg-block
                        a.boxed-btn3-dark-bg(href='request_info') Request a Model
            .col-12
              .mobile_menu.d-block.d-lg-none
      // header-end
      // bradcam_area
      .bradcam_area.bradcam_bg_1
        .container
          .row
            .col-xl-12
              h3&attributes(attributes)=heading
      // / bradcam_area
      // about_start

// Page Footer
mixin footer()
  // about_end
  // footer start
  footer.footer
    .footer_top
      .container
        .row
          .col-xl-3.col-md-6.col-lg-3
            .footer_widget.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='.3s')
              .footer_logo
                a(href='#')
                  img(src='img/logo.png', alt='white See3D logo')
              p
                | info@see3d.org 
                br
                | Cincinnati, Ohio
              .socail_links
                ul
                  li
                    a(aria-label='see3d facebook page', href='https://www.facebook.com/See3Dprintingfortheblind/')
                      i.ti-facebook
                  li
                    a(aria-label='see3d twitter page', href='https://twitter.com/see3dprinting?lang=en')
                      i.fa.fa-twitter
                  li
                    a(aria-label='see3d linkedin page', href='https://www.linkedin.com/company/34946156/')
                      i.fa.fa-linkedin
                  li
                    a(aria-label='see3d instagram page', href='https://www.instagram.com/see.3d/')
                      i.fa.fa-instagram
                  li
                    a(aria-label='see3d thingiverse page', href='https://www.thingiverse.com/see3dprinting/collections')
                      i.ti-download
                  li
                    a(aria-label='see3d TikTok Page', href='https://www.tiktok.com/@see3dprinting?')
                      i.ti-tumblr
          .col-xl-2.col-md-6.col-lg-2
            .footer_widget.wow.fadeInUp(data-wow-duration='1.1s', data-wow-delay='.4s')
              h3.footer_title
                | Company
              ul
                li
                  a(href='board') Our Board
                li
                  a(href='team') Our Team 
                li
                  a(href='gallery')  Photos
                li
                  a(href='blog') Blog
          .col-xl-3.col-md-6.col-lg-3
            .footer_widget.wow.fadeInUp(data-wow-duration='1.2s', data-wow-delay='.5s')
              h3.footer_title
                | Category
              ul
                li
                  a(href='about') About
                li
                  a(href='get_involved') Get Involved
                li
                  a(href='request_info') Request a Model
                li
                  a(href='donate') Donate
          .col-xl-4.col-md-6.col-lg-4
            .footer_widget.wow.fadeInUp(data-wow-duration='1.3s', data-wow-delay='.6s')
              h3.footer_title
                | Subscribe
              script.
                function submit_form() {
                document.getElementById('model_form').submit();
                }
              form#model_form.newsletter_form(action='/subscribe', method='POST')
                input.single-input(aria-label='name input field', type='email', name='email', placeholder='E-Mail', onfocus="this.placeholder = ''", onblur="this.placeholder = 'E-Mail'", required='')
                button(onclick='submit_form()', aria-label='submit button to add to blog mailing list') Subscribe
              p.newsletter_text Subscribe to our Blog
              
    .copy-right_text.wow.fadeInUp(data-wow-duration='1.4s', data-wow-delay='.3s')
      .container
        .footer_border
        .row
          .col-xl-12
            p.copy_right.text-center
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright ©
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved | This template is made with 
              i.fa.fa-heart-o(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com', target='_blank') Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              // / footer end
              // JS here
              script(src='js/vendor/modernizr-3.5.0.min.js')
              script(src='js/vendor/jquery-1.12.4.min.js')
              script(src='js/popper.min.js')
              script(src='js/bootstrap.min.js')
              script(src='js/owl.carousel.min.js')
              script(src='js/isotope.pkgd.min.js')
              //script(src='js/ajax-form.js')
              script(src='js/waypoints.min.js')
              script(src='js/jquery.counterup.min.js')
              script(src='js/imagesloaded.pkgd.min.js')
              script(src='js/scrollIt.js')
              script(src='js/jquery.scrollUp.min.js')
              script(src='js/wow.min.js')
              script(src='js/nice-select.min.js')
              script(src='js/jquery.slicknav.min.js')
              script(src='js/jquery.magnific-popup.min.js')
              script(src='js/plugins.js')
              script(src='js/gijgo.min.js')
              // contact js
              //script(src='js/contact.js')
              script(src='js/jquery.ajaxchimp.min.js')
              script(src='js/jquery.form.js')
              script(src='js/jquery.validate.min.js')
              script(src='js/mail-script.js')
              script(src='js/main.js')
