// Includes for page layout and individual widgets
include ./layout.pug
include ./mixins.pug

+header("See3D - Model Kits", "Model Kits")

// https://www.thingiverse.com/see3dprinting/collections/united-states-kit
// https://www.thingiverse.com/see3dprinting/collections/anatomy-kit

// about_start
.popular_catagory_area(style='padding-bottom: 0px;')
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          case query.model_kit
            when "united-states-kit"
              h3 United States Model Kit
            when "anatomy-kit"
              h3 Anatomy Model Kit
    .row
      // In the future these will be controlled by a database TODO
      case query.model_kit
        when "united-states-kit"
          p.fix-font-20(style="width: 100%; margin-left: 2%;") A collection of models containing famous buildings, landmarks, geography, and the United States flag.

          +model_kit("American Flag Model", "https://www.thingiverse.com/thing:6689659", "img/kits/united-states-kit/Flag.png", "American Flag 3D Model", "documents/kits/united-states-kit/American Flag.docx")
          +model_kit("Capitol Building Model", "https://www.thingiverse.com/thing:461272", "img/kits/united-states-kit/Captial.jpg", "Capitol Building 3D Model", "documents/kits/united-states-kit/Capitol Building_.docx")
          +model_kit("White House Model", "https://www.thingiverse.com/thing:461235", "img/kits/united-states-kit/WhiteHouse.jpg", "The White House 3D Model", "documents/kits/united-states-kit/The White House_.docx")
          +model_kit("Topographic Model", "https://www.thingiverse.com/thing:634007", "img/kits/united-states-kit/Topo.jpg", "Topographic Map 3D Model", "documents/kits/united-states-kit/Topographic Map_.docx")
          +model_kit("Statue of Liberty Model", "https://www.thingiverse.com/thing:65869", "img/kits/united-states-kit/StatueOfLiberty.jpg", "Statue of Liberty 3D Model", "documents/kits/united-states-kit/Statue of Liberty_.docx")
          //+model_kit("Statue of Liberty Model", "https://www.thingiverse.com/thing:1826175", "img/kits/united-states-kit/liberty2_fixed_preview_card.jpg", "Precipitation Map 3D Model")

        // FIX CSS ISSUES TODO
        when "anatomy-kit"
          p.fix-font-20(style="width: 100%; margin-left: 2%;") A collection of models containing different organs from the human body.

          +model_kit("Digestive System Model", "https://www.thingiverse.com/thing:1874604", "img/kits/anatomy-kit/Digestive.jpg", "Intestine 3D Model", "documents/kits/anatomy-kit/Digestive.docx", "documents/kits/anatomy-kit/Digestive.brf")
          +model_kit("Inner Ear Model", "https://www.thingiverse.com/thing:1527838", "img/kits/anatomy-kit/InnerEar.jpg", "Inner Ear 3D Model", "documents/kits/anatomy-kit/Inner Ear.docx", "documents/kits/anatomy-kit/InnerEar.brf")
          +model_kit("Cerebellum and Brain Stem Model", "https://www.thingiverse.com/thing:939904", "img/kits/anatomy-kit/Stem.jpg", "Brain Stem 3D Model", "documents/kits/anatomy-kit/Brain Stem.docx", "documents/kits/anatomy-kit/BrainStem.brf")
          //+model_kit("Upper GI Tract Model", "https://www.thingiverse.com/thing:939607", "img/kits/anatomy-kit/Upper_GI_Hepatobiliary_small_preview_card.jpg", "Upper GI Tract 3D Model")

+footer()