include ./layout.jade
include ./mixins.jade

+header("See3D - Your Profile", "Your Profile")


// about_start
.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Your Profile
    .row
      .col-lg-10
        p.fix-font-20
          | This is your profile info
// about_end


+footer()