include ./layout.pug
include ./mixins.pug

+header("See3D - Recycle Filament", "Recycle Filament")

// about_start
.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Filament Recycling
    .row
      .col-lg-10
        p.fix-font-20
          | You can recycle your filament via our collaboration with Printerior! Please mail your scraps of PLA and PETG filament, following the steps below and See3D receives discounts to purchase new filament to make more models for people who are blind or have low vision.
        p.fix-font-20
          | Here are the steps:
        ol.ordered-list(style='padding-bottom: 1px;')
            li 
                span.span-fix 
                    | Set up collection bins for each type of filament you use. Varieties of PLA and PETG must be separated as well (PLA+, Wood or Fiber filled, Glow in the dark, etc). You can even add this 
                    a.text-link(href='img/recycling/recycling_box_sign_printerior.pdf') Printerior 
                    | sign by your bin to spread the word!
                ol.ordered-list-alpha
                    li 
                        span.span-fix Sorting by color is not necessary, but helpful
                    li 
                        span.span-fix If the parts have paint, glue or bed adhesives they cannot accept them. If it can be washed off before, please do.
            li
                span.span-fix Put each filament variant in a separate bag and label it with the type of filament.
            li 
                span.span-fix 
                    | Print and handwrite or electronically edit the 
                    a.text-link(href='img/recycling/recycling_tag.pdf') See3D Consumer Recycling Tag 
                    | and print. The Business should be See3D and the email address is info@see3d.org. Please use your name for the name fields and include the filament types on the Materials & Weights line. You do not need to include the weight.
                ol.ordered-list-alpha
                    li
                        span.span-fix  You can also handwrite or type the contents of the tag on a separate piece of paper and use that as the tag. Please include exactly what is below:
                    ul.unordered-list
                        li.ul
                            span.span-fix First Name 
                        li.ul
                            span.span-fix Last Name
                        li.ul
                            span.span-fix Business: See3D
                        li.ul
                            span.span-fix Materials & Weights 
                        li.ul
                            span.span-fix Mail or drop off your filament at: Printerior Designs, 670 Goddard Avenue. Chesterfield, MO 63005
    .row
      .col-lg-10
        p.fix-font-20
          | We also have specific recycling signs for different filament types that you can use:
        ul.unordered-list
          li
            span.span-fix
              a.text-link(href='img/recycling/recycle-pla.png') PLA Filament Recycling Sign
              |  - Use this sign for standard PLA filament
          li
            span.span-fix
              a.text-link(href='img/recycling/recycle-pla-plus.png') PLA+ Filament Recycling Sign
              |  - Use this sign for PLA+ and enhanced PLA variants
          li
            span.span-fix
              a.text-link(href='img/recycling/recycle-petg.png') PETG Filament Recycling Sign
              |  - Use this sign for PETG filament
        p.fix-font-20
          | These signs can be printed and displayed near your collection bins to help identify the correct filament type for recycling.
        p.fix-font-20
          | For detailed instructions about the recycling program, please refer to the 
          a.text-link(href='img/recycling/recycling_box_sign_printerior.pdf') Printerior Recycling Program Instructions
          | .
    .row
      .col-lg-10
        .sponsor-section.mt-5.pt-4.border-top
          p.fix-font-20.text-center
            | This program is sponsored in part by:
          .text-center.mb-3
            img(src='img/sponsors/ohio_epa.jpg', alt='Ohio EPA Logo', style='max-width: 200px; height: auto;')
    style.
        .span-fix {
            color: #001D38 !important;
            font-size: 1rem !important;
        }

        .ul {
            list-style-type: none !important;
        }

+footer()
