// Includes for page layout and individual widgets
include ./components/layout.pug

+header("See3D - Liability Release Statement", "Request a Model")

// ================ release section start =================
section.contact-section.section_padding
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Liability Release
    .row
      .col-lg-10
        p.fix-font-20
          | I hereby expressly waive and release any and all claims, now known or hereafter 
          | known in any jurisdiction, against See3D, and its employees, agents, affiliates, 
          | representatives, successors, and assigns (collectively, “Releasees”), arising out 
          | of or attributable to the models, including but not limited to any and all claims 
          | relating to the design, manufacture, construction, storage, handling, warnings, instructions, 
          | use or performance of the models, whether arising out of the negligence of See3D or any Releasees or otherwise. 
          | I covenant not to make or bring any such claim against See3D or any other Releasee, and 
          | forever release and discharge See3D and all other Releasees from liability for such claims.
        


+footer()