include ./layout.pug
include ./mixins.pug

+header("See3D - About", "Request a Model")


// about_start
.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 Information for Requesting a Model
    .row
      .col-lg-10
        p.fix-font-20
          | Anyone who is blind, or is a parent or teacher of someone who is blind, can make a request for a model. By coordinating with volunteers, See3D finds people who can print and design requested models.
      .w-100
      .col-lg-10
        p.fix-font-20 Please keep this is mind before placing a request:
      .w-100
      .col-lg-10
        ul.unordered-list(style='padding-bottom: 13px;')
          li
            | “Blind” refers to someone who self-identifies as being blind, legally blind, visually impaired, having low vision, having sight loss, being partially sighted, etc., even with the use of corrective lenses
          li
            | Model requests that are suspected to be non-legitimate are subject to be cancelled
          li
            | See3D is not responsible for any possible injuries from the models, such as choking from broken pieces
          li
            | We also cannot guarantee the accuracy of the models in their representation of real life objects
      .w-100
      .col-lg-10
        p.fix-font-20
          | If you would like to fill out a request, follow the link below to start the process.
    .row.justify-content-end
      .button-offset.d-lg-block
        a.boxed-btn3.bg-fix(href='https://docs.google.com/forms/d/e/1FAIpQLSewH_Bhvs_eE1yM56pXPQlhpBGPKPNI5TMxe8xC2zHL7qesPQ/viewform?usp=sf_link') Continue
// about_end


+footer()