include ./layout.pug 
include ./mixins.pug


+header("See3D - Team", "See3D Team")

// about_start
.testimonial_area
  .container
    .row.testimonial-row
      .col-xl-12
        style.
          .testimonial-row {
            margin-bottom: 40px;
          }
          .quote_icon {
            display: none;
          }
        +team_member('img/team/kara.png', 'kara herzog head shot', 'Kara Herzog - Social Media Manager', 'Marketing Major at The Ohio State University')
        +team_member('img/team/AthenaWrenn2.png', 'Athena Wrenn standing outside in a suit', 'Athena Wrenn - Printing/Design Volunteer Coordinator', 'Mechanical Engineering Major at The Ohio State Universtiy')
        +team_member('img/team/AnnikaSrivastava.jpg', 'Annika Srivastava Outside wearing a dress', 'Annika Srivastava - Learning Plan Lead', 'Junior at Oswego East High School')
        +team_member('img/team/EvanJones3.png', 'Evan Jones standing in a turtle neck and blazer', 'Evan Jones - Content Creator', 'Marketing Major at The Ohio State University')
        +team_member('img/team/LoganFlory.png', 'Logan Flory headshot', 'Logan Flory - Web Developer', 'Computer and Information Science Major at The Ohio State University')
        +team_member('img/team/KeerthiPelluru2.png', 'Keerthi Pelluru headshot', 'Keerthi Pelluru - Web Developer', 'Electrical and Computer Engineering Major at The Ohio State University')
        +team_member('img/team/SeanSchnautz2.png', 'Sean Schnautz standing outside in a hoodie', 'Sean Schnautz - Cloud Manager', 'Mechanical Engineering Major at The Ohio State University')
        +team_member('img/team/enan.png', 'enan srivastava head shot', 'Enan Srivastava - Strategy Consultant', 'Economics Major at The Ohio State University')
        +team_member('img/team/QuinnRile2.png', 'Quinn Rile head shot', 'Quinn Rile - Accountant', 'Finance, International Business, and Law, Ehtics, and Decision Making Major at Indiana University')
        +team_member('img/team/patrick.png', 'patrick smith head shot', 'Patrick Smith - Data Analytics Advisor and Video Creator', 'Data Analytics Major at The Ohio State University')

// about_end

+footer()