include ./layout.pug 
include ./mixins.pug    


+header("See3D - Team", "See3D Team")

// about_start
.testimonial_area
  .container
    .row.testimonial-row
      .col-xl-12
        style.
          .testimonial-row {
            margin-bottom: 40px;
          }
          .quote_icon {
            display: none;
          }
        +team_member('img/team/caroline2.png', 'caroline karbowski head shot', 'Caroline Karbowski - CEO and Founder', 'Research assistant in biochemistry at The Ohio State University')
        +team_member('img/team/garrett.png', 'garrett carder head shot', 'Garrett Carder - CTO', 'Computer Science Major at The Ohio State University')
        +team_member('img/team/AnnikaSrivastava.jpg', 'Annika Srivastava headshot ', 'Annika Srivastava - Learning Plan Lead', 'Biomedical engineering major at Northwestern University')
        +team_member('img/team/kara.png', 'kara herzog head shot', 'Kara Herzog - Social Media Manager', 'Marketing Major at The Ohio State University')
        +team_member('img/team/emily.png', 'emily kiehl head shot', 'Emily Kiehl', 'Information Technology and MBA at University of Cincinnati')
        +team_member('img/team/SeanSchnautz2.png', 'Sean Schnautz standing outside in a hoodie', 'Sean Schnautz - Cloud Manager', 'Mechanical Engineering Major at The Ohio State University')
        +team_member('img/team/emril.jpg', 'Portrait of Emril with cane','Emril Bennett - Web Developer',  'Attending Post Secondary Training at the Ohio State School for the Blind')
        +team_member('img/team/manya.jpg', 'Manya Srivastava Photo','Manya Srivastava - Intern', 'Student at Oswego East High School') 
        +team_member('img/team/muji.jpg','Muji Lai photo','Muji Lai - Learning Plans and Grant Writing','Senior at Metro Early College High School')
        
        
// about_end

+footer()