include ./layout.pug 
include ./mixins.pug


+header("See3D - Team", "See3D Team")

// about_start
.testimonial_area
  .container
    .row
      .col-xl-12
        style.
          .row {
          margin-bottom: 40px;
          }
          .quote_icon {
          display: none;
          }
        +team_member('img/team/enan.png', 'enan srivastava head shot', 'Enan Srivastava - Head of Strategy and Operations', 'Economics Major and Computer Science Minor at The Ohio State University')
        +team_member('img/team/kara.png', 'kara herzog head shot', 'Kara Herzog - Marketing Team', 'Marketing Major at The Ohio State University')
        +team_member('img/team/patrick.png', 'patrick smith head shot', 'Patrick Smith - Marketing Team', 'Data Analytics Major at The Ohio State University')
        +team_member('img/team/AnnikaSrivastava.jpg', 'Annika Srivastava Outside wearing a dress', 'Annika Srivastava - Learning Plans', 'High School Student')
// about_end

+footer()