include ./components/layout.pug 
include ./mixins.pug    


+header("See3D - Team", "See3D Team")

// about_start
.testimonial_area
  .container
    .row.testimonial-row
      .col-xl-12
        style.
          .testimonial-row {
            margin-bottom: 40px;
          }
          .quote_icon {
            display: none;
          }
        +team_member('img/team/caroline3.jpg', 'caroline karbowski head shot', 'Caroline Karbowski - CEO and Founder', 'Graduate student in Sensory Impairments and Inclusion, with a focus on Orientation and Mobility (O&M) at The Ohio State University, Certified Braille Transcriber')
        +team_member('img/team/garrett.png', 'garrett carder head shot', 'Garrett Carder - CTO', 'Software Engineer @ Hyper Solutions Inc.')
        +team_member('img/team/emily.jpg', 'emily kiehl head shot', 'Emily Kiehl', 'Information Technology and MBA at University of Cincinnati')
        +team_member('img/team/emril.jpg', 'Portrait of Emril with cane','Emril Bennett - Learning Plan Writer',  'Attending Post Secondary Training at the Ohio State School for the Blind')
        +team_member('img/team/amanda.jpg', 'Headshot of amanda', 'Amanda Weiskind - Grant Coordinator', 'Mechanical Engineering, The Ohio State University')
        +team_member('img/team/megan.jpg', 'Head shot of megan', 'Megan Radakovich - Marketing', 'Graphic Design, Syracuse University')
        +team_member('img/team/gabriella_orton.jpg', 'Head shot of gabriella', 'Gabriella Orton - Community Relations and Learning Guide Writer ', 'Business Administration, Blue Mountain Christian University ')
        +team_member('img/team/cj_replogle.jpg', 'Head shot of cj', 'CJ Replogle - Product Engineer', 'Biomedical Engineering, The Ohio State University')
        +team_member('img/team/aruthra.jpg', 'Head shot of aruthra', 'Aruthra Ramesh - Marketing', 'Psychology, The Ohio State University')

// about_end

+footer()