include ./components/layout.pug 
include ./components/mixins.pug    


+header(tabTitle, pageTitle)

// about_start
.testimonial_area
  .container
    .row.testimonial-row
      .col-xl-12
        style.
          .testimonial-row {
            margin-bottom: 40px;
          }
          .quote_icon {
            display: none;
          }
        each val in teamMembers
          +team_member(
            strapi_url + val.profilePhoto.data.attributes.url,
            val.profilePhoto.data.attributes.alternativeText,
            val.name + (val.title !== null ? ` - ${val.title}` : ''),
            val.occupation
          )
// about_end

+footer()