include ./layout.jade 
include ./mixins.jade


+header("See3D - About", "See3D Team")

// about_start
.testimonial_area
  .container
    .row
      .col-xl-12
        style.
          .row {
          margin-bottom: 40px;
          }
          .quote_icon {
          display: none;
          }
        .row
          .col-lg-11
            .single_testmonial.d-flex.align-items-center
              .thumb
                img(src='img/team/caroline.png', alt='caroline karbowski head shot')
                .quote_icon
                  i.Flaticon.flaticon-quote
              .info
                h2 Caroline Karbowski - CEO and Founder
                span Biology Major at The Ohio State University
                .footer.footer-rst
                  .socail_links(style='margin-top: 20px;')
                    ul.team_social
                      //
                        <li>
                        <a style="border-color: #005999 !important;" aria-label="Caroline Karbowski linkedin" href="https://www.linkedin.com/in/caroline-karbowski-4a4073178/">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        </li>
                      //
                        <li>
                        <a style="border-color: #005999 !important;" aria-label="Caroline Karbowski Resumé coming soon" href="#">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </a>
                        </li>
        .row
          .col-lg-11
            .single_testmonial.d-flex.align-items-center
              .thumb
                img(src='img/team/emily.png', alt='emily kiehl head shot')
                .quote_icon
                  i.Flaticon.flaticon-quote
              .info
                h2 Emily Kiehl - Board Member
                span Information Technology and MBA at University of Cincinnati
                .footer.footer-rst
                  .socail_links(style='margin-top: 20px;')
                    ul.team_social
                      //
                        <li>
                        <a style="border-color: #005999 !important;" aria-label="Emily Kiehl linkedin" href="https://www.linkedin.com/in/emily-k-a1043313a/">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        </li>
                      //
                        <li>
                        <a style="border-color: #005999 !important;" aria-label="Emily Kiehl Resumé coming soon" href="#">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </a>
                        </li>
        .row
          .col-lg-11
            .single_testmonial.d-flex.align-items-center
              .thumb
                img(src='img/team/garrett.png', alt='garrett carder head shot')
                .quote_icon
                  i.Flaticon.flaticon-quote
              .info
                h2 Garrett Carder - CTO and Board Member
                span Computer Science Major at The Ohio State University
                .footer.footer-rst
                  .socail_links(style='margin-top: 20px;')
                    ul.team_social
                      //
                        <li>
                        <a style="border-color: #005999 !important;" aria-label="Garrett Carder linkedin" href="https://www.linkedin.com/in/garrettcarder317/">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        </li>
                      //
                        <li>
                        <a style="border-color: #005999 !important;" aria-label="Garrett Carder Resumé" href="/resume/Garrett Carder.pdf">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </a>
                        </li>
        .row
          .col-lg-11
            .single_testmonial.d-flex.align-items-center
              .thumb
                img(src='img/team/enan.png', alt='enan srivastava head shot')
                .quote_icon
                  i.Flaticon.flaticon-quote
              .info
                h2 Enan Srivastava - Head of Strategy and Operations
                span Economics Major and Computer Science Minor at The Ohio State University
                .footer.footer-rst
                  .socail_links(style='margin-top: 20px;')
                    ul.team_social
                      //
                        <li>
                        <a style="border-color: #005999 !important;" aria-label="Enan Srivastava linkedin" href="https://www.linkedin.com/in/enan-srivastava/">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        </li>
                      //
                        <li>
                        <a style="border-color: #005999 !important;" aria-label="Enan Srivastava Resumé" href="/resume/Enan Srivastava.pdf">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </a>
                        </li>
        .row
          .col-lg-11
            .single_testmonial.d-flex.align-items-center
              .thumb
                img(src='img/team/kara.png', alt='kara herzog head shot')
                .quote_icon
                  i.Flaticon.flaticon-quote
              .info
                h2 Kara Herzog - Marketing Team
                span Marketing Major at The Ohio State University
                .footer.footer-rst
                  .socail_links(style='margin-top: 20px;')
                    ul.team_social
                      //
                        <li>
                        <a style="border-color: #005999 !important;" aria-label="Kara Herzog linkedin" href="https://www.linkedin.com/in/karaherzog/">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        </li>
                      //
                        <li>
                        <a style="border-color: #005999 !important;" aria-label="Kara Herzog Resumé coming soon" href="#">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </a>
                        </li>
        .row
          .col-lg-11
            .single_testmonial.d-flex.align-items-center
              .thumb
                img(src='img/team/nupur.png', alt='nupur malhotra head shot')
                .quote_icon
                  i.Flaticon.flaticon-quote
              .info
                h2 Nupur Malhotra - Marketing Team
                span Operations Management Major and Psychology Minor at The Ohio State University
                .footer.footer-rst
                  .socail_links(style='margin-top: 20px;')
                    ul.team_social
                      //
                        <li>
                        <a style="border-color: #005999 !important;" aria-label="Nupur Malhotra linkedin" href="https://www.linkedin.com/in/nupur-malhotra-4892431a2/">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        </li>
                      //
                        <li>
                        <a style="border-color: #005999 !important;" aria-label="Nupur Malhotra Resumé coming soon" href="#">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </a>
                        </li>
        .row
          .col-lg-11
            .single_testmonial.d-flex.align-items-center
              .thumb
                img(src='img/team/patrick.png', alt='patrick smith head shot')
                .quote_icon
                  i.Flaticon.flaticon-quote
              .info
                h2 Patrick Smith - Marketing Team
                span Data Analytics Major at The Ohio State University
                .footer.footer-rst
                  .socail_links(style='margin-top: 20px;')
                    ul.team_social
                      //
                        <li>
                        <a style="border-color: #005999 !important;" aria-label="Patrick Smith linkedin" href="https://www.linkedin.com/in/patrick-smith-170aa9170/">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        </li>
                      //
                        <li>
                        <a style="border-color: #005999 !important;" aria-label="Patrick Smith Resumé coming soon" href="#">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </a>
                        </li>
// about_end

+footer()