/*
    Custom CSS Addins for See3D
    Created 06/03/2020
*/

.testimonial_area {
    background: #F5F7FA !important;
}

.tagline-addin {
    margin-bottom: .75rem !important;
    font-size: 22px !important;
}

.pad-top {
    padding-top: 100px !important;
}

.fix-top {
    padding-top: 0px !important;
}

.fix-bottom {
    padding-bottom: 0px !important;
}

.fix-font-20 {
    font-size: 20px !important;
    color: #001D38 !important;
}

.text-link {
    color: #7cc8ff;
}

.text-link:hover {
    color: #7A838B;
}

.button-offset {
    padding-right: 100px;
}

.bg-fix:hover {
    color: #005999 !important;
}

.mt-10 {
    filter: drop-shadow(-4px 4px 4px gray);
}

::-webkit-input-placeholder {
    color: black;
}

::-moz-placeholder {
    color: black;
}

::-ms-input-placeholder {
    color: black;
}

:-moz-placeholder {
    color: black;
}