// Includes for page layout and individual widgets
include ./layout.pug
include ./mixins.pug

+header("See3D - Subscribe", "Subscribed")

// about_start
.popular_catagory_area
  .container
    .row
      .col-lg-12
        .section_title.mb-40
          h3 You Have Successfully Subscribed to our blog with E-Mail address #{email}

+footer()